.chatView{
    position: relative;
}

.chatView__timer {
    position: absolute;
    top:0;
    right:0;
    margin:10px;

}










.exitScreen{
    display: flex;
    position: absolute;
    color:whitesmoke;
    padding-top:5px;
    cursor: pointer;
}