.chat{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:8px;
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;
}

.chat__avatar{
    height:35px !important;
    width:35px !important
}


.chat__readIcon{
    color:#ed3b55;
}

.chat__info{
    padding-left: 5px;
    flex:1;
}

.chat__info > h4{
    font-size:12px;
    padding-bottom: 5px;
    font-weight: 500;
}

.chat__info > p{
    font-size:10px;
}

.chat:hover{
    opacity: 0.8;
}

.chats__takPicIcon{
    position: absolute;
    background-color: white;
    border-radius: 200px;
    color:gray;
    font-size: 40px !important;
    cursor: pointer;
    bottom:0;
    left:50%;
    transform: translate(-50%, -50%);
}

.chats__takPicIcon:hover{
    opacity: 0.7;
}

