.chats{
    position: relative;
    height: 400px;
    width: 250px;
    
}

.chats__header{
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
    padding-left: 10px;
    padding-right:10px;
    background-color: #059ee0;
    height:50px;
}

.chats__avatar {
    height:25px !important;
    width:25px !important;
    cursor: pointer;
}

.chats__search{
    display: flex;
    align-items: center;
    flex:1;
}

.chats__search > input {
    outline:none;
    background-color: transparent;
    border: none;
    font-size: 12px;
    flex:1;
    color:white;
}

.chats__search > input::placeholder {
    color:white;
    opacity: 1;

} 

.chats__posts {
    margin-top:-9px;
    box-shadow: 1px -7px 7px -6px rgba(0, 0, 0, 0.44);
    height:359px;
    background-color: white;
    border-radius: 10px;
    background-color: white;
    overflow: scroll;
}
/*Hide scroll bar for Chrome */
.chats__posts::-webkit-scrollbar {
    display: none;
}
/*Hide scroll bar for IE, Edge and Firefox*/
.chats__posts {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chats__searchIcon,.chats__chatIcon{
    color:white;
    font-size: 16px!important;
}

.chats__exit{
    font-size: 16px!important;
    padding-left: 5px;
}