.login{
    background-color: #e6e502;
    display: grid;
    place-items: center;
    height: 100vh;
    width:100%;
}

.login_container{
    display: flex;
    flex-direction: column;
}

.login__icon{
    color: rgb(17, 82, 147);
    font-size: 140px !important;
    object-fit: contain;
    height: 300px;
}

.login__title{
    color: rgb(17, 82, 147);
}