.preview{
    position:relative;
}

.preview__close{
    position:absolute;
    top:0;
    margin:5px;
    cursor: pointer;
    color:white;
}

.preview__toolbarRight{
    color: white;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin:5px;
    padding-right: 5px;
    border: none;
    outline-width: 0;
}

.preview__toolbarRight > .MuiSvgIcon-root{
    font-size:20px !important;
    margin-bottom: 8px;
    cursor: pointer;
}

.preview__footer{
    position: absolute;
    bottom: 0;
    right:-40px;
    background-color: forestgreen;
    color:black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    padding: 7px;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.preview__footer > h2 {
    font-size: 16px;
    margin-right: 3px;
}

.preview__sendIcon{
    font-size:10px!important;
}

.preview__capturedImage{
    box-shadow: -1px -1px 18px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px -1px 18px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 18px -5px rgba(0,0,0,0.75);
}
