.app {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*background-color:  #fefc01;*/
  background-color:  #e6e502;
  height:100vh;
}

.app__icon{
  color: rgb(17, 82, 147);
  font-size: 80px !important;
  object-fit: contain;
  height: 100px;
  display: flex !important;
  margin:0 auto;
}

.app__title{
  color: rgb(17, 82, 147);
  text-align: center;
}

.app__bodyBackground{
  background-color: white;
  height: 400px;
  align-items: center;
    justify-items: center;
    justify-content: center;
}


.app__body{
  background: url("./assets/images/app_bg.png") no-repeat center;
  background-size: contain;
  height: 420px;
  width:250px;
  padding:70px;

}
